<!-- START: Professional Skills -->
<div class="nk-box bg-white">
  <div class="container-fluid">
    <div class="nk-gap-4"></div>
    <div class="row">
      <!-- how it work 1 -->
      <div class="col-lg-6 push-lg-6">
        <img src="/assets/images/1-hiw.png" width="545" height="435">
      </div>
      <div class="col-lg-6 pull-lg-6">
        <div class="nk-gap-4"></div>
        <div class="nk-box-4 mw-620 mlauto">
          <h2>1. Brainstorming</h2>
          <div class="nk-gap mnt-5"></div>
          <div class="nk-progress nk-progress-sm nk-count">
            <div class="nk-progress-title">The first step is discussing the concept of the product with my client and discover ideas to build good product brand, who is the target of the product, who is the competitor, and how do we build the best product that reaches the market.
            </div>
          </div>
        </div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
      </div>
      <!-- END how it work 1 -->
      <!-- how it work 1 -->
      <div class="col-lg-6 push-lg-6 bg-gray-1">
        <div class="nk-gap-4"></div>
        <div class="nk-box-4 mlauto">
          <h2>2. Researching and Setup</h2>
          <div class="nk-progress mw-620 nk-progress-sm nk-count">
            <div class="nk-progress-title">Researching what is the best product that can reach the market. Finding the styles that matches market expectation, color that represents the market/customer, competitors product, and others.
            </div>
          </div>
          <div class="nk-gap mnt-5"></div>
        </div>
      </div>
      <div class="col-lg-6 pull-lg-6 bg-gray-1">
        <div class="nk-box-4 mw-620 mlauto">
          <img src="/assets/images/2-hiw.png" width="542" height="355">
        </div>
        <div class="nk-gap-4"></div>
      </div>
      <!-- end img -->
      <!-- END how it work 1 -->
      <!-- how it work 1 -->
      <div class="col-lg-6 push-lg-6">
        <div class="nk-gap-4"></div>
        <img src="/assets/images/3-hiw.png" width="542" height="369">
      </div>
      <div class="col-lg-6 pull-lg-6">
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
        <div class="nk-box-4 mw-620 mlauto">
          <h2>3. Creating Mockups and Wireframing</h2>
          <div class="nk-gap mnt-5"></div>
          <div class="nk-progress nk-progress-sm nk-count">
            <div class="nk-progress-title">After researching the styles, brands, competitors. Rough mockup will be created and also the use case  will be implemented through product wireframes.
            </div>
          </div>
        </div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
      </div>
      <!-- END how it work 1 -->
      <!-- how it work 1 -->
      <div class="col-lg-6 push-lg-6 bg-gray-1">
        <div class="nk-gap-4"></div>
        <div class="nk-box-4 mlauto">
          <h2>4. Designing the UI/UX</h2>
          <div class="nk-progress mw-620 nk-progress-sm nk-count">
            <div class="nk-progress-title">Implementing the mockup and wireframe using Sketch app, one of the most powerful application to create awesome design, and following best practice to increase the productivity when designing UI. Adobe Photoshop is used to manipulate photo image and Adobe Illustrator to create illustration.
            </div>
          </div>
          <div class="nk-gap mnt-5"></div>
        </div>
      </div>
      <div class="col-lg-6 pull-lg-6 bg-gray-1">
        <div class="nk-box-4 mw-620 mlauto">
          <img src="/assets/images/4-hiw.png" width="541" height="360">
        </div>
        <div class="nk-gap-4"></div>
      </div>
      <!-- end img -->
      <!-- END how it work 1 -->
      <!-- how it work 1 -->
      <div class="col-lg-6 push-lg-6">
        <div class="nk-gap-4"></div>
        <img src="/assets/images/5-hiw.png" width="589" height="337">
      </div>
      <div class="col-lg-6 pull-lg-6">
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
        <div class="nk-box-4 mw-620 mlauto">
          <h2>5. Prototyping</h2>
          <div class="nk-gap mnt-5"></div>
          <div class="nk-progress nk-progress-sm nk-count">
            <div class="nk-progress-title">Creating product prototype and collaborate with team/manager/developer through online collaboration app such as Invision, Marvel app, Zeplin so it will help product developer easier when implementing the product. People can also review the product flow and how product works in general in this level.
            </div>
          </div>
        </div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
      </div>
      <!-- END how it work 1 -->
    </div>
  </div>
</div>
<!-- END: Professional Skills -->
