<!-- START: Footer -->
<footer class="nk-footer">
  <div class="container">
    <div class="row vertical-gap">
      <div class="col-lg-5">
        <h3 class="h5 mb-20">Jajang Irawan</h3>
        <p class="mb-0">&copy; 2019 Indonesia. All rights reserved.
      </div>
      <div class="col-lg-3">
        Email:<a href="mailto:izzi.bdg@gmail.com"> izzi.bdg@gmail.com</a><br>
        Skype:<a href="https://join.skype.com/invite/ispodeJW6vJk"> jajang.izzi</a><br><br>
        +62 857 221 4089 0
      </div>
      <div class="col-lg-2">
        <div class="nk-links-list">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Study Cases</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-1">
        <div class="nk-links-list">
          <ul>
            <li><a href="https://www.instagram.com/jajang_irawan18/">Instagram</a></li>
            <li><a href="https://dribbble.com/Izzi">Dribbble</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END: Footer -->
