<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Jajang Irawan | Freelancer UI/UX Web And Mobile Designer</title>
  <meta name="description" content="My name is Jajang, an experienced designer who has been working on UI/UX Design since 2008. I am very passionate about UI/UX design. One of my working experiences was joining Bizness Apps (https://www.biznessapps.com), a US-based startup, for more than 3 years to handle some of the major tasks in designing web, user interface, etc.">
  <meta name="keywords" content="portfolio, clean, minimal, blog, template, portfolio website, ui designer, ux design, ui design">
  <meta name="author" content="Jajang Irawan">
  <link rel="icon" type="image/png" href="assets/images/favicon_j.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- START: Styles -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500%7cNunito+Sans:400,600,700%7cPT+Serif:400,400i"
    rel="stylesheet" type="text/css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.min.css">
    <!-- Stroke 7 -->
    <link rel="stylesheet" href="assets/bower_components/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <!-- Flickity -->
    <link rel="stylesheet" href="assets/bower_components/flickity/dist/flickity.min.css">
    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="assets/bower_components/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="assets/bower_components/photoswipe/dist/default-skin/default-skin.css">
    <!-- Piroll -->
    <link rel="stylesheet" href="assets/css/piroll.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
  </head>
