<!-- START: HOW I WORK -->
<div class="nk-box bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="nk-gap-2"></div>
        <div class="nk-box-3 text-center">
          <h2>How I Work </h2>
          <img src="/assets/images/working_culture.png" alt="" class="nk-img-fit"><br><br>
          <div class="col-lg-8 offset-lg-2">
            <p>It's important to make the work process goes effective and efficient. <br>
              Because of that, workflow is very important to bring the best result when creating the design.
            </p>
            <a href="how_i_work.html" class="nk-btn nk-btn-long">Learn More</a>
          </div>
        </div>
        <div class="nk-gap-2"></div>
      </div>
    </div>
  </div>
</div>
<!-- END: HOW I WORK -->
