<!-- START: Instagram
-->
<footer class="nk-footer text-dark-1 bg-gray-4">
  <div class="container">
    <div class="bg-gray-4 text-center">
      <div class="nk-gap-4 mnb-12"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2" >
            <a href="https://www.instagram.com/jajang_irawan18/"> <h3 style="color: #000000 "> See my activities on Instagram</h3> </a>
          </div>
        </div>
      </div>
      <div class="nk-gap-3"></div>
    </div>
    <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols nk-isotope-gap">
      <div class="nk-isotope-item" data-filter="Design">
        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
          <a href="https://www.instagram.com/jajang_irawan18/" class="nk-portfolio-item-link"></a>
          <div class="nk-portfolio-item-image">
            <div style="background-image: url('/assets/images/ig/1.jpg')"></div>
          </div>
        </div>
      </div>
      <div class="nk-isotope-item" data-filter="Print">
        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
          <a href="https://www.instagram.com/jajang_irawan18/" class="nk-portfolio-item-link"></a>
          <div class="nk-portfolio-item-image">
            <div style="background-image: url('/assets/images/ig/2.jpg')"></div>
          </div>
        </div>
      </div>
      <div class="nk-isotope-item" data-filter="Branding">
        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
          <a href="https://www.instagram.com/jajang_irawan18/" class="nk-portfolio-item-link"></a>
          <div class="nk-portfolio-item-image">
            <div style="background-image: url('/assets/images/ig/3.jpg')"></div>
          </div>
        </div>
      </div>
      <div class="nk-isotope-item" data-filter="Branding">
        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
          <a href="https://www.instagram.com/jajang_irawan18/" class="nk-portfolio-item-link"></a>
          <div class="nk-portfolio-item-image">
            <div style="background-image: url('/assets/images/ig/4.jpg')"></div>
          </div>
        </div>
      </div>
      <div class="nk-isotope-item" data-filter="Branding">
        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
          <a href="https://www.instagram.com/jajang_irawan18/" class="nk-portfolio-item-link"></a>
          <div class="nk-portfolio-item-image">
            <div style="background-image: url('/assets/images/ig/5.jpg')"></div>
          </div>
        </div>
      </div>
      <div class="nk-isotope-item" data-filter="Branding">
        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
          <a href="https://www.instagram.com/jajang_irawan18/" class="nk-portfolio-item-link"></a>
          <div class="nk-portfolio-item-image">
            <div style="background-image: url('/assets/images/ig/6.jpg')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END: Instagram -->
