<!--
START: Navbar
Additional Classes:
.nk-navbar-lg
.nk-navbar-sticky
.nk-navbar-autohide
.nk-navbar-transparent
.nk-navbar-transparent-always
.nk-navbar-white-text-on-top
.nk-navbar-dark
-->
<nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide nk-navbar-transparent">
  <div class="container">
    <div class="nk-nav-table">
      <a href="index.html" class="nk-nav-logo">
        <img src="assets/images/jajang_irawan_logo.svg" alt="" width="31">
      </a>
      <ul class="nk-nav nk-nav-right nk-nav-icons">
        <li class="single-icon">
          <a href="#" class="nk-navbar-full-toggle">
            <span class="nk-icon-burger">
              <span class="nk-t-1"></span>
              <span class="nk-t-2"></span>
              <span class="nk-t-3"></span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END: Navbar -->
