  <!--
  START: Fullscreen Navbar
  Additional Classes:
  .nk-navbar-align-center
  .nk-navbar-align-right
  -->
  <nav class="nk-navbar nk-navbar-full nk-navbar-align-center" id="nk-full">
    <div class="nk-nav-table">
      <div class="nk-nav-row">
        <div class="container">
          <div class="nk-nav-header">
            <div class="nk-nav-logo">
              <a href="index.html" class="nk-nav-logo">
                <img src="assets/images/jajang_irawan_logo_light.svg" alt="" width="31">
              </a>
            </div>
            <div class="nk-nav-close nk-navbar-full-toggle">
              <span class="nk-icon-close"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-nav-row-full nk-nav-row">
        <div class="nano">
          <div class="nano-content">
            <div class="nk-nav-table">
              <div class="nk-nav-row nk-nav-row-full nk-nav-row-center">
                <ul class="nk-nav">
                  <li class="active">
                    <a href="">
                      Home
                    </a>
                  </li>
                  <li class="">
                    <a href="page-about-me.html">
                      About
                    </a>
                  </li>
                </li>
                <li class="">
                  <a href="how-i-work.html">
                    How I Works
                  </a>
                </li>
                <li class="">
                  <a href="page-about-me.html">
                    Testimonials
                  </a>
                </li>
                <li class="">
                  <a href="">
                    Study Cases
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-nav-row">
      <div class="container">
        <div class="nk-nav-social">
          <ul>
            <li><a href="https://dribbble.com/izzi"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="https://www.instagram.com/jajang_irawan18/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- END: Fullscreen Navbar -->
