<!-- START: Need a Project? -->
<div class="bg-white text-center">
    <div class="nk-gap-5 mnb-12"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2>Need a Project?</h2>
                <div class="nk-gap-1 mnt-15"></div>
                <p>Let's create the awesome project!</p>
                <div class="nk-gap mnt-9"></div>
                <a href="https://join.skype.com/invite/ispodeJW6vJk" class="nk-btn nk-btn-long">let's talk</a>
            </div>
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Need a Project? -->
