<div class="container-fluid">
  <!-- START: Filter -->
  <ul class="nk-isotope-filter">
    <li class="active" data-filter="*">All</li>
    <li data-filter="mobile">Mobile App</li>
    <li data-filter="website">Website</li>
    <li data-filter="illustration">Illustration</li>
  </ul>
  <!-- END: Filter -->
  <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">
    <div class="nk-isotope-item" data-filter="mobile">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/food_1.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">Dinning Category</h2>
            <div class="portfolio-item-category">Design</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-isotope-item" data-filter="mobile, illustration">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/TuTour.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">"Tutour" Walkthrough</h2>
            <div class="portfolio-item-category">Mobile app, Illustration</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-isotope-item" data-filter="mobile">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/water.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">Daily Water Reminder</h2>
            <div class="portfolio-item-category">Mobile App</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-isotope-item" data-filter="website">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/notetaking.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">Product Page -Notetaking-</h2>
            <div class="portfolio-item-category">Web Design</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-isotope-item" data-filter="website, illustration">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/Easy_Manage.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">Easy Manage Landing Page</h2>
            <div class="portfolio-item-category">Web Design</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-isotope-item" data-filter="website">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/Catering_order.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">Order Catering</h2>
            <div class="portfolio-item-category">Web Design</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-isotope-item" data-filter="mobile">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/Mark_List.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">Mark List Screen Real Estate UI KIT</h2>
            <div class="portfolio-item-category">Mobile App</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-isotope-item" data-filter="mobile">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/radio_fm.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">Radio FM app concept</h2>
            <div class="portfolio-item-category">Mobile App</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-isotope-item" data-filter="mobile">
      <div class="nk-portfolio-item nk-portfolio-item-info-style-1">
        <a href="https://dribbble.com/Izzi" class="nk-portfolio-item-link"></a>
        <div class="nk-portfolio-item-image">
          <div style="background-image: url('assets/images/portfolio/pigeon.jpg');"></div>
        </div>
        <div class="nk-portfolio-item-info nk-portfolio-item-info-bottom bg-main-9">
          <div>
            <h2 class="portfolio-item-title h3">Pigeon Mail App</h2>
            <div class="portfolio-item-category">Mobile App</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
