<!-- START: Reviews -->
<div class="nk-box bg-main">
  <div class="nk-gap-5 mnt-6"></div>
  <div class="nk-gap-3"></div>
  <div class="container-fluid">
    <!-- START: Carousel -->
    <div class="nk-carousel nk-carousel-all-visible text-white" data-autoplay="18000" data-dots="true">
      <div class="nk-carousel-inner">
        <div>
          <div>
            <blockquote class="nk-blockquote-style-1 text-white">
              <p>Jajang was fantastic to work with. He's a very good designer and always made sure I was taken care off. Despite my many changes that i'm sure drove him crazy, Jajang went above and beyond to make sure I was satisfied. Excellent communication with Jajang and an overall wonderful experience. Will hire again!</p>
              <cite>MICHAEL VELASQUEZ - Founder at AppTrends -</cite>
            </blockquote>
            <div class="nk-gap-3 mt-10"></div>
          </div>
        </div>
        <div>
          <div>
            <blockquote class="nk-blockquote-style-1 text-white">
              <p>Jajang is an absolute pleasure to work with. His creativity, quality of work, and ability to meet deadlines is way above average. He is virtually a jack of all trades. Thanks so much Jajang!</p>
              <cite>Andrew Gazdecki - Founder of Biznessapps -</cite>
            </blockquote>
            <div class="nk-gap-3 mt-10"></div>
          </div>
        </div>
        <div>
          <div>
            <blockquote class="nk-blockquote-style-1 text-white">
              <p>Jajang worked with a very tight deadline I had and delivered excellent work. He was patient and easy to work with and his design and prototyping skills are above average. I was very pleased. I will certainly use him again for future website work.</p>
              <cite>Wilneida Negron - CEO of App Lib -</cite>
            </blockquote>
            <div class="nk-gap-3 mt-10"></div>
          </div>
        </div>
        <div>
          <div>
            <blockquote class="nk-blockquote-style-1 text-white">
              <p>Jajang is an extraordinary mobile and web designer! He is focused on every corner of UI experience, thinking out of the box and challenging every idea and concept in order to bring the best design! We have worked on a few projects together and every time he was on the top of the task! I was surprised how easily he could make extraordinary UI experience from the scratch! Open minded, polite, communicative and always ready to go step ahead to satisfy customer’s needs.</p>
              <cite>Miloš Čalija - CEO of Pigeon Mail App -</cite>
            </blockquote>
            <div class="nk-gap-3 mt-10"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Carousel -->
  </div>
  <div class="nk-gap-4 mt-3"></div>
</div>
<!-- END: Reviews -->
