<nav class="st-menu left st-effect-4 scroll-pane">
  <!--[if IE 8]>
  <div class="menu-greyscale"></div><![endif]-->
  <div class="st-menu-inner">

    <div class="menu-nav-inner">
      <div class="menu-side-menu-container">
        <ul id="menu-side-menu" class="menu">
          <li class="menu-item  current_page_item">
            <a href="#about-us">About Me</a>
          </li>
          <li class=" menu-item">
            <a href="/#recent-project">Recent Project</a>
          </li>
          <li class=" menu-item">
            <a href="/#work-jajang">All Project</a>
          </li>
          <li class="menu-item">
            <a href="/#testimonials">Testimonials</a>
          </li>
          <li class="menu-item">
            <a href="/#freebies">Freebies</a>
          </li>
          <li class="menu-item">
            <a href="/blog/ui-dalam-suatu-produk">Blog</a>
          </li>
        </ul>
      </div>

      <div class="social-links-center">
        <ul class="social-links">
          <li><a href="https://www.behance.net/izzi-tea" target="_blank"><span class="index green"><img src="/images/be_icon.png" alt="Behance"/></span></a>
          </li>
          <li><a href="https://id.linkedin.com/in/jajang-irawan-50b86bbb" target="_blank"><span class="index twit"><i class="fa fa-linkedin"></i></span></a>
          </li>
          <li><a href="https://twitter.com/Jajang_irawan" target="_blank"><span class="index twit"><i class="fa fa-twitter"></i></span></a>
          </li>
          <li><a href="mailto:izzi.bdg@gmail.com"><span class="index fb"><i class="fa fa-envelope-o"></i></span></a>
          </li>

          <div class="clear-float"></div>
      </div>
    </div>
  </div>
</nav>
