<!DOCTYPE html>
<html lang="en-GB" class="js no-touch skrollr skrollr-desktop">
<!--<![endif]-->
{% include head.html %}

<body>
  <div class="loading-nologo fa-spin"></div>
  <div class="site-container">
    <div id="st-container" class="st-container">
      {% include sidebar.html %}
      <!-- content push wrapper -->
      <!--[if !IE]><!-->
      <div class="st-pusher left">
        <!--<![endif]-->
        <!--[if IE]>
            <div class="st-pusher left st-pusher-ie"><![endif]-->
        <div class="st-content">
          <!-- this is the wrapper for the content -->
          <div class="st-content-inner entry-content">
            <!-- extra div for emulating position:fixed of the menu -->
            <!-- begin bottom-nav -->
            <div id="search-content" class="site-shade-content">
              <div class="site-shade-content-inner">
                <form role="search" method="get" action="#">
                  <i class="fa fa-search search-icon-form"></i>
                  <input type="search" class="search-field" name="s" autofocus>
                </form>
              </div>
            </div>

            <div id="search-shade" class="site-shade"></div>

            <div id="share-content" class="share-links-site">
              <a class="mail" href="#">
                <i class="fa fa-envelope-o"></i>
              </a>

              <a class="goog" href="#" onclick="window.open(this.href, &#39;&#39;, &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600&#39;);return false;">
                <i class="fa fa-google-plus"></i>
              </a>

              <a class="twit" href="#" onclick="window.open(this.href,&#39;&#39;, &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600&#39;);return false;">
                <i class="fa fa-twitter"></i>
              </a>

              <a class="fb" href="http://www.facebook.com/sharer.html?url=#" onclick="window.open(this.href,&#39;&#39;, &#39;menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=220,width=600&#39;);return false;">
                <i class="fa fa-facebook"></i>
              </a>
              <div class="clear-float"></div>
            </div>
            <div id="share-shade" class="site-shade"></div>
            <div class="video-shade"></div>


            <div class="bottom-nav-short">


              <div class="menu-bars-bottom st-trigger-effects">
                <div class="menu-close-dark"></div>
                <button type="button" id="menu-nav-footer" class="navbar-toggle button-menu" data-effect="st-effect-4">
                  <span class="icon-bar dark"></span>
                  <span class="icon-bar dark"></span>
                  <span class="icon-bar dark"></span>
                </button>
              </div>

              <div class="horiz-nav-bottom">
                <ul class="menu bottom-menu">

                  <li class="menu-item"><a href="#about-us">About Us</a>
                  </li>
                  <li class="menu-item"><a href="#testimonials">Testimonials</a>
                  </li>
                  <li class="menu-item"><a href="#work-jajang">Work</a>
                  </li>
                  <li class="menu-item"><a href="#freebies">Freebies</a>
                  </li>


                  <li class="footer-show menu-item">My resume (PDF)
                    <i class="footer-show-arrow fa fa-chevron-down"></i>
                  </li>

                </ul>
                <ul class="menu mobile-bottom-menu">
                  <li class="menu-item search-prompt"><i class="fa fa-search"></i>
                  </li>
                  <li class="menu-item share-prompt"><i class="fa fa-share-alt"></i>
                  </li>
                  <li class="menu-item top-ani"><i class="fa fa-chevron-up"></i>
                  </li>
                  <li class="footer-show menu-item">
                    <i class="footer-show-arrow fa fa-chevron-down"></i>
                  </li>
                </ul>
              </div>
            </div>
            <!-- .bottom-nav -->
            <div class="po-portfolio-slider-profile">
              <ul class="po-portfolio-slider-loop">
                <li class='slider-slides white-content'>
                  <div class="po-column menu-bars st-trigger-effects" data-delay="2200" data-animation="move-down-short">
                    <div class="menu-close"></div>
                    <button type="button" class="navbar-toggle button-menu" data-effect="st-effect-4">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>


                  <div class="background-greyscale"></div>
                  <div class="slider-video" data-center="top: 0px;" data-bottom-top="top: 150px;" data-top-bottom="top: -150px;" data-anchor-target=".slider-video"></div>
                  <!--[if !IE 8]><!-->
                  <div class="home-slider-image homeslide-1" data-center="background-position: 50% -50px;" data-bottom-top="background-position: 50% 150px;" data-top-bottom="background-position: 50% -150px;" data-anchor-target=".slider-slides"></div>
                  <!--<![endif]-->
                  <!--[if IE 8]>
                                <img class="fullbackground" src="theme//images/1300-800.png" />
                                <![endif]-->


                  <div class="slider-image-inner">
                    <div class="po-column slider-caption" data-delay="1700" data-animation="move-up-short">
                      <!-- hilang <h1 class="text-center">JAJANG IRAWAN</h1> -->
                      <div class="slider-subtitle text-center">
                        UI/UX Designer <span class="cat-sep"></span> Motorcycle Enthusiast <span class="cat-sep"></span> Coffee lover
                      </div>
                    </div>
                  </div>
                </li>



              </ul>
            </div>
            <!--end of slider-->

            <div class="top-page-anchor">
              <div class="arrow-container">
                <div class="arrow-container-inner">
                  <div class="transparent-triangle-container">
                    <table>
                      <tbody>
                        <tr>
                          <td class="transparent-triangle-left-white"></td>
                          <td class="transparent-triangle-left-triangle-container">
                            <div class="transparent-triangle-left-triangle"></div>
                          </td>
                          <td class="transparent-triangle-right-triangle-container">
                            <div class="transparent-triangle-right-triangle"></div>
                          </td>
                          <td class="transparent-triangle-right-white"></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="transparent-triangle-container-bottom-white"></div>
                  </div>
                </div>
              </div>

              <div class="po-page po-blog">
                <div>
                  <div>
                    <div class="homepage">
                      <div class="po-section section-background-white">
                        <div class="ss-style-triangles"></div>
                        <a name="about-us"></a>
                        <div class="container">
                          <div class="row">
                            {{ content }}
                            <div class="po-column col-sm-8 col-sm-offset-2" data-delay="600" data-animation="move-down-short">
                              <!-- pict profile -->

                              <img class="aligncenter size-full" src="/images/jajang.png" alt="iphone_mini-2">

                              <br>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--bof value-->

                      <!--end of file-->

                      <!-- bottom ornamen putih -->
                      <div class="transparent-triangle-container">
                        <table>
                          <tbody>
                            <tr>
                              <td class="transparent-triangle-left-white"></td>
                              <td class="transparent-triangle-left-triangle-container">
                                <div class="transparent-triangle-left-triangle"></div>
                              </td>
                              <td class="transparent-triangle-right-triangle-container">
                                <div class="transparent-triangle-right-triangle"></div>
                              </td>
                              <td class="transparent-triangle-right-white"></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="transparent-triangle-container-bottom-white"></div>
                      </div>


                    </div>
                    <!--end of female-->





                    </div>
                    <div id="end" class="po-section section-image section-background-image-parallax section- skrollable skrollable-before" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 150px;" data-top-bottom="background-position: 50% -150px;" data-anchor-target="#end">
                      <!--[if IE 8]>
                                            <img class="section-bg-ie"  src="/images/1300-800.png" alt="background">
                                            <![endif]-->
                      <div class="ss-style-triangles"></div>
                      <div class="container">
                        <div class="row">
                          <div class="po-column col-sm-8 col-sm-offset-2" data-delay="400" data-animation="move-up-short">
                          </div>
                          <div class="po-column col-sm-8 col-sm-offset-2 paddingTop paddingBott" data-delay="800" data-animation="move-up">
                            <div style="height:400px;"></div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

              <div class="padding">
                <div class="row po-full-width">
                  <div class="po-column col-sm-12 padding" data-delay="0" data-animation="fade-in">
                    <a href="https://www.dropbox.com/s/4ejzcpx4sr8pr9z/Jajang_Irawan.pdf?dl=0" target="_blank" class="banner-button btn-lg btn-block btn-icon-ani">download my resume (PDF)</a>
                  </div>
                </div>
              </div>
              <div class="whole-footer">

                <div class="footer-container-bottom">
                  <div class="container">
                    <div class="row">
                      <div class="po-column col-sm-12 no_margin_no_padding" data-delay="0" data-animation="fade-in">

                        <div class="col-sm-12 footer_copyrightpadding">
                          <p class="text-center"><span>© 2015. <a href="#">Jajang Irawan</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- /st-content-inner -->
      </div>
      <!-- /st-content -->
    </div>
    <!-- /st-pusher -->
  </div>
  <!-- /st-container -->
  </div>
  {% include js.html %}
</body>

</html>
