<!DOCTYPE html>
<!--
Name: Piroll - Minimal & Clean Portfolio HTML Template
Version: 1.0.0
Author: robirurk, nK
Website: https://nkdev.info
Purchase: https://nkdev.info
Support: https://nk.ticksy.com
License: You must have a valid license purchased only from ThemeForest (the above link) in order to legally use the theme for your project.
Copyright 2017.
-->
<html lang="en">
  {% include head.html %}
  <body>
    <header class="nk-header">
      {% include mobile_navbar.html %}
    </header>
    {% include navbar.html %}
    <div class="nk-main bg-white">
      <!-- START: Header Title -->
      <!--
      Additional Classes:
      .nk-header-title-sm
      .nk-header-title-md
      .nk-header-title-lg
      .nk-header-title-xl
      .nk-header-title-full
      .nk-header-title-parallax
      .nk-header-title-parallax-opacity
      -->
      <div class="nk-header-title nk-header-title-xmd nk-header-title-parallax nk-header-title-parallax-opacity">
        <div class="bg-image">
          <div style="background-image: url('/assets/images/freebies-bg.jpg');"></div>
          <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div>
        </div>
        <div class="nk-header-table">
          <div class="nk-header-table-cell">
            <div class="container">
              <h1 class="nk-title text-white">Freebies .Sketch</h1>
              <div class="nk-gap"></div>
              <div class="nk-header-text text-white">
                <div class="lead-sm">You can download the sketch file. You can use for commercial or something else what you need </div>
                <div class="nk-gap-1"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Header Title -->





      <div class="nk-main">
        <div class="container">

          <div class="nk-gap-4"></div>

          <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols nk-isotope-gap">
            <div class="nk-isotope-item" data-filter="Design">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/6611664/attachments/1413093/restaurant_-_menu.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/1.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <div class="portfolio-item-title h5">Restaurant and menu screens</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="nk-isotope-item" data-filter="Print">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/3546210/attachments/788129/smart_device.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/2.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <h2 class="portfolio-item-title h5">Smart Device</h2>

                  </div>
                </div>
              </div>
            </div>
            <div class="nk-isotope-item" data-filter="Branding">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/2928620/attachments/607769/day_nutrition.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/3.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <h2 class="portfolio-item-title h5">"Day Nutrition" mobile app </h2>

                  </div>
                </div>
              </div>
            </div>
            <div class="nk-isotope-item" data-filter="Branding">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/2915993/attachments/604610/bmw_r_nine_t_customs_website.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/4.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <h2 class="portfolio-item-title h5">BMW R NineT customs website</h2>

                  </div>
                </div>
              </div>
            </div>
            <div class="nk-isotope-item" data-filter="Branding">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/2844785/attachments/585272/puma_shopping-cart_shoes.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/5.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <h2 class="portfolio-item-title h5">Puma Shopping Cart (Shoes)</h2>

                  </div>
                </div>
              </div>
            </div>
            <div class="nk-isotope-item" data-filter="Branding">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/2827112/attachments/580494/food_calories.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/6.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <h2 class="portfolio-item-title h5">Food Calories</h2>

                  </div>
                </div>
              </div>
            </div>
            <div class="nk-isotope-item" data-filter="Design">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/2815232/attachments/577342/shift__pemuda_hijarah__audio_playlist.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/7.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <h2 class="portfolio-item-title h5">Audio Playlist</h2>

                  </div>
                </div>
              </div>
            </div>
            <div class="nk-isotope-item" data-filter="Design">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/2796554/attachments/572417/flight_report_admin_dashboard.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/8.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <h2 class="portfolio-item-title h5">Flight Report Dashboard</h2>

                  </div>
                </div>
              </div>
            </div>
            <div class="nk-isotope-item" data-filter="Photography">
              <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-4">
                <a href="https://cdn.dribbble.com/users/364025/screenshots/2794889/attachments/571904/vocabulary_coach.sketch" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div style="background-image: url('/assets/images/freebies/9.png')"></div>
                </div>
                <div class="nk-portfolio-item-info">
                  <div>
                    <h2 class="portfolio-item-title h5">Vocabulary Coach</h2>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-gap-5"></div>

        </div>
        <div class="container">
          <div class="nk-portfolio-single">
            <div class="nk-gap-4 mb-14"></div>
          </div>
        </div>

        <div class="nk-main">
          {% include need_a_project_skype.html %}
          {% include instagram.html %}
          {% include footer.html %}
        </div>
        {% include js.html %}
      </body>
    </html>
