<!DOCTYPE html>
<!--
Name: Piroll - Minimal & Clean Portfolio HTML Template
Version: 1.0.0
Author: robirurk, nK
Website: https://nkdev.info
Purchase: https://nkdev.info
Support: https://nk.ticksy.com
License: You must have a valid license purchased only from ThemeForest (the above link) in order to legally use the theme for your project.
Copyright 2017.
-->
<html lang="en">
  {% include head.html %}
  <body>
    <header class="nk-header">
      {% include mobile_navbar.html %}
    </header>
    {% include navbar.html %}
    <div class="nk-main">
      <!-- START: Header Title -->
      <!--
      Additional Classes:
      .nk-header-title-sm
      .nk-header-title-md
      .nk-header-title-lg
      .nk-header-title-xl
      .nk-header-title-full
      .nk-header-title-parallax
      .nk-header-title-parallax-opacity
      -->
      <div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
        <div class="bg-image">
          <div style="background-image: url('/assets/images/how_i_work.jpg');"></div>
          <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.4);"></div>
        </div>
        <div class="nk-header-table">
          <div class="nk-header-table-cell">
            <div class="container">
              <h1 class="nk-title text-white">How I Work</h1>
              <div class="nk-gap"></div>
              <div class="nk-header-text text-white">
                <div class="lead-sm">It's important to make the work process goes effective and efficient. <br>
                  Because of that, workflow is very important to bring the best result when creating the design.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Header Title -->
      <div class="container">
        <div class="nk-portfolio-single">
          <div class="nk-gap-4 mb-14"></div>
        </div>
      </div>
      {% include how_i_work/steps.html %}

      <div class="nk-main">
        {% include work_summary.html %}
        {% include need_a_project_skype.html %}
        {% include instagram.html %}
        {% include footer.html %}
      </div>
      {% include js.html %}
    </body>
  </html>
